/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/* Variable */
:root {
  /* Text colors */
  --full-black-text: #000000;
  --full-white-text: #FFFFFF;
  --nearby-white: #F5F4FA;
  --gray-black-text: #212121;
  --gray-text: #757575;
  /* Universal blue color */
  --blue-color: #2196F3;
  --blue-accent-color: #188CE8;
  /* Backgrounds colors */
  --black-color-background: #2F303A;
  --gray-background: #F5F4FA;
  /* Line color */
  --ligth-gray-line: #ECECEC;
  /* Border line color */
  --gray-border-line: #EEEEEE;
  --gray-company-color: #AFB1B8;
  /* Angle radius */
  --radius: 4px;
  --full-round: 50%;
  /* Card gap`s distance */
  --card-gap: 30px;
  /* Number of cards in a row */
  --card-numbers: 1;
  /* Transition for :hover & :focus */
  --animation-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Conteiner for elements */
.portfolio__container, .client__container, .team__container, .work__container, .benefit__container, .footer__container, .header__container, .mob-nav__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* ***Sections padding */
.portfolio, .client, .team, .work, .benefit {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-prj, .client__set, .team__list, .work__list, .benefit__list, .footer-contact__data, .footer-contact, .footer__list, .header-contact, .site-nav, .mob-nav .mob-nav-con, .mob-nav__soc-list, .mob-nav__list, .filter, .social-network {
  list-style: none;
}

.portfolio-prj__link, .client__link, .footer-contact__link--color, .footer-contact__link, .header-contact__link, .site-nav__link, .mob-nav .mob-nav-con__link--big, .mob-nav .mob-nav-con__link--small, .mob-nav__soc-link, .mob-nav__link, .social-network__link {
  text-decoration: none;
  color: currentColor;
}

/* Standard features */
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--gray-text);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.no-scroll {
  overflow: hidden;
}

/* Global reset */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
a,
address,
button {
  padding: 0;
  margin: 0;
}

/* Images parameters */
img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

/* Hide element */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Features and calculation of "flex-containers" contents */
.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--card-gap);
}

.card-item {
  -ms-flex-preferred-size: calc((100% - (var(--card-numbers) - 1) * var(--card-gap)) / var(--card-numbers));
      flex-basis: calc((100% - (var(--card-numbers) - 1) * var(--card-gap)) / var(--card-numbers));
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--blue-color);
  line-height: 1.19;
  text-decoration: none;
}
@media (max-width: 767.98px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
  }
}
.logo__text {
  color: var(--full-black-text);
  -webkit-transition: color var(--animation-time);
  transition: color var(--animation-time);
}
.logo__text:hover, .logo__text:focus {
  color: var(--blue-color);
}
.logo--location {
  display: inline-block;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
.logo__text--color {
  color: var(--full-white-text);
  -webkit-transition: color var(--animation-time);
  transition: color var(--animation-time);
}
.logo__text--color:hover, .logo__text--color:focus {
  color: var(--blue-color);
}

.button {
  min-width: 200px;
  border-radius: var(--radius);
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--full-white-text);
  background-color: var(--blue-color);
  cursor: pointer;
  -webkit-transition: background-color var(--animation-time);
  transition: background-color var(--animation-time);
}
@media screen and (min-width: 480px) {
  .button {
    min-width: 200px;
  }
}
.button:hover, .button:focus {
  background-color: var(--blue-accent-color);
}
.button__icon {
  margin-left: 10px;
  fill: var(--full-white-text);
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  color: var(--gray-black-text);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
  }
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.social-network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: var(--full-round);
  fill: var(--gray-company-color);
  -webkit-transition: fill var(--animation-time), background-color var(--animation-time);
  transition: fill var(--animation-time), background-color var(--animation-time);
}
.social-network__link:hover, .social-network__link:focus {
  background-color: var(--blue-color);
  fill: var(--full-white-text);
}
.social-network__link--color {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-network__icon--color {
  fill: var(--full-white-text);
}

/* 
************************
Model windows and overlay 
*/
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(3px) saturate(150%);
          backdrop-filter: blur(3px) saturate(150%);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity var(--animation-time), visibility var(--animation-time);
  transition: opacity var(--animation-time), visibility var(--animation-time);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0deg);
          transform: translate(-50%, -50%) scale(1) rotate(0deg);
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: var(--full-white-text);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  -webkit-transition: opacity var(--animation-time), -webkit-transform var(--animation-time);
  transition: opacity var(--animation-time), -webkit-transform var(--animation-time);
  transition: opacity var(--animation-time), transform var(--animation-time);
  transition: opacity var(--animation-time), transform var(--animation-time), -webkit-transform var(--animation-time);
}
@media screen and (min-width: 1200px) {
  .modal-form {
    width: 528px;
    height: 581px;
  }
}
.backdrop.is-hidden .modal-form {
  opacity: 0;
  -webkit-transform: translate(50px, 200px) scale(1.3) rotate(45deg);
          transform: translate(50px, 200px) scale(1.3) rotate(45deg);
}
.modal-form__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}
.modal-form__close-btn:hover .modal-form__close-icon, .modal-form__close-btn:focus .modal-form__close-icon {
  fill: var(--blue-color);
}
.modal-form__close-icon {
  fill: var(--full-black-text);
  -webkit-transition: fill var(--animation-time);
  transition: fill var(--animation-time);
}

/* Feedback form */
.feedback-form__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--gray-black-text);
  margin-bottom: 12px;
}
.feedback-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.feedback-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 58px;
  width: 100%;
  cursor: pointer;
}
.feedback-form__id-data {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--gray-text);
  margin-bottom: 4px;
}
.feedback-form__wrap {
  position: relative;
}
.feedback-form__input {
  height: 40px;
  width: 100%;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--radius);
  cursor: pointer;
  -webkit-transition: border var(--animation-time);
  transition: border var(--animation-time);
}
.feedback-form__input:hover, .feedback-form__input:focus {
  border: 1px solid var(--blue-color);
  outline: none;
}
.feedback-form__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  fill: var(--gray-black-text);
  -webkit-transition: fill var(--animation-time);
  transition: fill var(--animation-time);
}
.feedback-form__input:hover + .feedback-form__icon, .feedback-form__input:focus + .feedback-form__icon {
  fill: var(--blue-color);
}
.feedback-form__comment {
  display: block;
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--radius);
  cursor: pointer;
}
.feedback-form__comment:hover, .feedback-form__comment:focus {
  border-color: var(--blue-color);
  outline: 0;
}
.feedback-form__comment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.feedback-form__comment::-moz-placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.feedback-form__comment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.feedback-form__comment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.feedback-form__comment::placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .feedback-form__comment::-webkit-input-placeholder {
    font-size: 12px;
  }
  .feedback-form__comment::-moz-placeholder {
    font-size: 12px;
  }
  .feedback-form__comment:-ms-input-placeholder {
    font-size: 12px;
  }
  .feedback-form__comment::-ms-input-placeholder {
    font-size: 12px;
  }
  .feedback-form__comment::placeholder {
    font-size: 12px;
  }
}

.validation-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 12px;
}
.validation-icon--success {
  fill: rgb(50, 136, 4);
  opacity: 0;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: opacity var(--animation-time), -webkit-transform var(--animation-time);
  transition: opacity var(--animation-time), -webkit-transform var(--animation-time);
  transition: opacity var(--animation-time), transform var(--animation-time);
  transition: opacity var(--animation-time), transform var(--animation-time), -webkit-transform var(--animation-time);
}
.validation-icon--warning {
  fill: rgb(160, 112, 0);
  opacity: 0;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: opacity var(--animation-time), -webkit-transform var(--animation-time);
  transition: opacity var(--animation-time), -webkit-transform var(--animation-time);
  transition: opacity var(--animation-time), transform var(--animation-time);
  transition: opacity var(--animation-time), transform var(--animation-time), -webkit-transform var(--animation-time);
}
.feedback-form__input:invalid:required:not(:-moz-placeholder-shown) ~ .validation-icon .validation-icon--warning {
  opacity: 1;
  transform: scale(1);
}
.feedback-form__input:invalid:required:not(:-ms-input-placeholder) ~ .validation-icon .validation-icon--warning {
  opacity: 1;
  transform: scale(1);
}
.feedback-form__input:invalid:required:not(:placeholder-shown) ~ .validation-icon .validation-icon--warning {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.feedback-form__input:valid:required:not(:-moz-placeholder-shown) ~ .validation-icon .validation-icon--success {
  opacity: 1;
  transform: scale(1);
}
.feedback-form__input:valid:required:not(:-ms-input-placeholder) ~ .validation-icon .validation-icon--success {
  opacity: 1;
  transform: scale(1);
}
.feedback-form__input:valid:required:not(:placeholder-shown) ~ .validation-icon .validation-icon--success {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-bottom: 30px;
}
.checkbox__disc {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .checkbox__disc {
    font-size: 14px;
  }
}
.checkbox__disc-link {
  color: var(--blue-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-underline-position: under;
  -webkit-transition: color var(--animation-time);
  transition: color var(--animation-time);
}
.checkbox__disc-link:hover, .checkbox__disc-link:focus {
  color: --blue-accent-color;
}
.checkbox__icon--unchecked {
  opacity: 1;
  -webkit-transition: opacity var(--animation-time);
  transition: opacity var(--animation-time);
}
.checkbox__icon--checked {
  opacity: 0;
  -webkit-transition: opacity var(--animation-time);
  transition: opacity var(--animation-time);
}
.checkbox__input:hover + .checkbox__icon .checkbox__icon--unchecked, .checkbox__input:focus + .checkbox__icon .checkbox__icon--unchecked {
  fill: var(--blue-color);
}
.checkbox__input:checked + .checkbox__icon .checkbox__icon--unchecked {
  opacity: 0;
}
.checkbox__input:checked + .checkbox__icon .checkbox__icon--checked {
  opacity: 1;
}

/* Colection parameters for filter bottons of Portfolio page */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 30px;
  /* Filtration buttons for portfolio */
}
@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}
.filter__button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: var(--radius);
  border-color: transparent;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--gray-black-text);
  background-color: var(--nearby-white);
  cursor: pointer;
  -webkit-transition: color var(--animation-time), background-color var(--animation-time), -webkit-box-shadow var(--animation-time);
  transition: color var(--animation-time), background-color var(--animation-time), -webkit-box-shadow var(--animation-time);
  transition: color var(--animation-time), background-color var(--animation-time), box-shadow var(--animation-time);
  transition: color var(--animation-time), background-color var(--animation-time), box-shadow var(--animation-time), -webkit-box-shadow var(--animation-time);
}
.filter__button:hover, .filter__button:focus, .filter__button--active {
  color: var(--full-white-text);
  background-color: var(--blue-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.mob-nav {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 48px 40px;
  background-color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: opaciti var(--animation-time), visibility var(--animation-time), -webkit-transform var(--animation-time);
  transition: opaciti var(--animation-time), visibility var(--animation-time), -webkit-transform var(--animation-time);
  transition: opaciti var(--animation-time), visibility var(--animation-time), transform var(--animation-time);
  transition: opaciti var(--animation-time), visibility var(--animation-time), transform var(--animation-time), -webkit-transform var(--animation-time);
}
@media screen and (min-width: 768px) {
  .mob-nav {
    display: none;
  }
}
.mob-nav.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.mob-nav__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
@media screen and (min-width: 480px) {
  .mob-nav__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .mob-nav__container {
    max-width: 768px;
  }
}
.mob-nav__menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -46px;
  right: -25px;
  width: 40px;
  height: 60px;
  background-color: transparent;
  border-color: transparent;
}
@media screen and (min-width: 768px) {
  .mob-nav__menu-btn {
    display: none;
  }
}
.mob-nav__menu-btn:hover, .mob-nav__menu-btn:focus {
  color: var(--blue-color);
}
.mob-nav__menu-btn--active {
  fill: currentColor;
}
.mob-nav__item {
  margin-bottom: 32px;
}
.mob-nav__item:last-child {
  margin-bottom: 0px;
}
.mob-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--gray-black-text);
}
.mob-nav__link:hover, .mob-nav__link:focus {
  color: var(--blue-color);
}
.mob-nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
}
.mob-nav__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mob-nav__soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--blue-color);
  padding-left: 10px;
  padding-right: 10px;
}
.mob-nav__soc-item > .mob-nav__soc-link {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-nav__soc-item:last-child > .mob-nav__soc-link {
  border-right: 1px solid rgba(33, 33, 33, 0);
}
.mob-nav .mob-nav-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.mob-nav .mob-nav-con__link--big {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--blue-color);
}
@media screen and (max-width: 410px) {
  .mob-nav .mob-nav-con__link--big {
    font-size: 24px;
  }
}
.mob-nav .mob-nav-con__link--small {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
}

/* Navigation panel */
.header {
  border-bottom: 1px solid var(--gray-border-line);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) {
  .header__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    max-width: 1200px;
  }
}
.header__nav-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .header__nav-panel {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav-panel {
    gap: 93px;
  }
}
.header__menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40px;
  background-color: transparent;
  border-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__menu-btn {
    display: none;
  }
}
.header__menu-btn:hover, .header__menu-btn:focus {
  fill: var(--blue-color);
}
.header__menu-btn--standby {
  color: currentColor;
}

/* Header - navigator */
@media (max-width: 767.98px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    color: var(--gray-black-text);
  }
}
.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--animation-time);
  transition: color var(--animation-time);
}
.site-nav__link--current, .site-nav__link:hover, .site-nav__link:focus {
  color: var(--blue-color);
}
.site-nav__link--current {
  position: relative;
}
.site-nav__link--current::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -1px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: currentColor;
}

/* Header - contacts */
@media (max-width: 767.98px) {
  .header-contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.header-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--animation-time);
  transition: color var(--animation-time);
}
@media screen and (min-width: 768px) {
  .header-contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact__link {
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header-contact__link:hover, .header-contact__link:focus {
  color: var(--blue-color);
}
.header-contact__icon {
  fill: currentColor;
}

/* Footer part (divade) */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--black-color-background);
}
@media screen and (min-width: 480px) {
  .footer__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    max-width: 1200px;
  }
}
.footer__divide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer__divide {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 70px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 70px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .subscription {
  display: block;
}

.footer-contact {
  font-style: normal;
}
.footer-contact__data {
  display: block;
}
.footer-contact__item {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-contact__item {
    text-align: left;
  }
}
.footer-contact__item:not(:last-child) {
  display: block;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-contact__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
.footer-contact__link {
  padding: 5px 0;
  color: var(--full-white-text);
  -webkit-transition: color var(--animation-time);
  transition: color var(--animation-time);
}
.footer-contact__link:hover, .footer-contact__link:focus {
  color: var(--gray-text);
}
.footer-contact__link--color {
  padding: 5px 0;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--animation-time);
  transition: color var(--animation-time);
}
.footer-contact__link--color:hover, .footer-contact__link--color:focus {
  color: var(--full-white-text);
}

.footer-conection__text {
  text-align: center;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--full-white-text);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-conection__text {
    text-align: left;
  }
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
  }
}
.footer-form__input {
  width: 90vw;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: var(--radius);
  color: var(--full-white-text);
  cursor: pointer;
}
@media (min-width: 500px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}
.footer-form__input:hover, .footer-form__input:focus {
  border-color: var(--blue-color);
}
.footer-form__input::-webkit-input-placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::-moz-placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:-ms-input-placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::-ms-input-placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Hero section */
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-color: #C4C4C4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg/hero-bg@1x-sm.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg/hero-bg@1x-sm.jpg);
}
@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-bg/hero-bg@2x-sm.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../images/hero-bg/hero-bg@1x-m.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-bg/hero-bg@2x-m.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../images/hero-bg/hero-bg@1x-l.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-bg/hero-bg@2x-l.jpg);
  }
}
.hero__title {
  max-width: 360px;
  font-size: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--full-white-text);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
  }
}

/* Benefit section */
@media screen and (min-width: 1200px) {
  .benefit {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 480px) {
  .benefit__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .benefit__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .benefit__container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 480px) {
  .benefit__list .card-item {
    --card-numbers: 1;
  }
}
@media screen and (min-width: 768px) {
  .benefit__list .card-item {
    --card-numbers: 2;
  }
}
@media screen and (min-width: 1200px) {
  .benefit__list .card-item {
    --card-numbers: 4;
  }
}
.benefit__img-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: var(--radius);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--gray-background);
  margin-bottom: 30px;
}
.benefit__icon {
  width: 70px;
  height: 70px;
}
.benefit__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--gray-black-text);
}
@media (max-width: 767.98px) {
  .benefit__title {
    text-align: center;
  }
}

.work {
  padding-top: 0;
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}
.work__container {
  max-width: 1200px;
}
.work__list .card-item {
  --card-numbers: 3;
}
.work__thumb {
  position: relative;
}
.work__direction {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: var(--full-white-text);
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Team section */
.team {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--gray-background);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 480px) {
  .team__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .team__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .team__container {
    max-width: 1200px;
  }
}
.team__content {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 480px) {
  .team__list .card-item {
    --card-numbers: 1;
  }
}
@media screen and (min-width: 768px) {
  .team__list .card-item {
    --card-numbers: 2;
  }
}
@media screen and (min-width: 1200px) {
  .team__list .card-item {
    --card-numbers: 4;
  }
}
.team__text {
  padding: 30px;
  text-align: center;
  background-color: var(--full-white-text);
}
.team__name, .team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__position {
  margin-bottom: 16px;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--gray-black-text);
}

/* Clients-list section */
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 480px) {
  .client__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .client__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .client__container {
    max-width: 1200px;
  }
}
@media (max-width: 767.98px) {
  .client__set .card-item {
    --card-numbers: 2;
  }
}
@media screen and (min-width: 768px) {
  .client__set .card-item {
    --card-numbers: 3;
  }
}
@media screen and (min-width: 1200px) {
  .client__set .card-item {
    --card-numbers: 6;
  }
}
.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid currentColor;
  border-radius: var(--radius);
  color: var(--gray-company-color);
  -webkit-transition: color var(--animation-time);
  transition: color var(--animation-time);
}
.client__link:hover, .client__link:focus {
  color: var(--blue-color);
}
.client__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 480px) {
  .portfolio__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-prj .card-item {
    --card-numbers: 2;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-prj .card-item {
    --card-numbers: 3;
  }
}
.portfolio-prj__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--animation-time);
  transition: -webkit-box-shadow var(--animation-time);
  transition: box-shadow var(--animation-time);
  transition: box-shadow var(--animation-time), -webkit-box-shadow var(--animation-time);
}
.portfolio-prj__link:hover, .portfolio-prj__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-prj__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-prj__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform var(--animation-time);
  transition: -webkit-transform var(--animation-time);
  transition: transform var(--animation-time);
  transition: transform var(--animation-time), -webkit-transform var(--animation-time);
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-prj__link:hover .portfolio-prj__overlay, .portfolio-prj__link:focus .portfolio-prj__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.portfolio-prj__discr {
  padding-left: 24px;
  padding-right: 24px;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--full-white-text);
}
.portfolio-prj__text {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid var(--gray-border-line);
  border-bottom: 1px solid var(--gray-border-line);
  border-left: 1px solid var(--gray-border-line);
}
.portfolio-prj__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--gray-black-text);
}
.portfolio-prj__direction {
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */