/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/* Variable */
:root {
  /* Text colors */
  --full-black-text: #000000;
  --full-white-text: #FFFFFF;
  --nearby-white: #F5F4FA;
  --gray-black-text: #212121;
  --gray-text: #757575;
  /* Universal blue color */
  --blue-color: #2196F3;
  --blue-accent-color: #188CE8;
  /* Backgrounds colors */
  --black-color-background: #2F303A;
  --gray-background: #F5F4FA;
  /* Line color */
  --ligth-gray-line: #ECECEC;
  /* Border line color */
  --gray-border-line: #EEEEEE;
  --gray-company-color: #AFB1B8;
  /* Angle radius */
  --radius: 4px;
  --full-round: 50%;
  /* Card gap`s distance */
  --card-gap: 30px;
  /* Number of cards in a row */
  --card-numbers: 1;
  /* Transition for :hover & :focus */
  --animation-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Conteiner for elements */
.header__container, .mob-nav__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* ***Sections padding */
.header-contact, .site-nav, .mob-nav .mob-nav-con, .mob-nav__soc-list, .mob-nav__list {
  list-style: none;
}

.header-contact__link, .site-nav__link, .mob-nav .mob-nav-con__link--big, .mob-nav .mob-nav-con__link--small, .mob-nav__soc-link, .mob-nav__link {
  text-decoration: none;
  color: currentColor;
}

/* Standard features */
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--gray-text);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.no-scroll {
  overflow: hidden;
}

/* Global reset */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
a,
address,
button {
  padding: 0;
  margin: 0;
}

/* Images parameters */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Hide element */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Features and calculation of "flex-containers" contents */ /* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--blue-color);
  line-height: 1.19;
  text-decoration: none;
}
@media (max-width: 767.98px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
  }
}
.logo__text {
  color: var(--full-black-text);
  -webkit-transition: color var(--animation-time);
  transition: color var(--animation-time);
}
.logo__text:hover, .logo__text:focus {
  color: var(--blue-color);
}

.button {
  min-width: 200px;
  border-radius: var(--radius);
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--full-white-text);
  background-color: var(--blue-color);
  cursor: pointer;
  -webkit-transition: background-color var(--animation-time);
  transition: background-color var(--animation-time);
}
@media screen and (min-width: 480px) {
  .button {
    min-width: 200px;
  }
}
.button:hover, .button:focus {
  background-color: var(--blue-accent-color);
}
.button__icon {
  margin-left: 10px;
  fill: var(--full-white-text);
}

/* 
************************
Model windows and overlay 
*/
/* Feedback form */ /* Colection parameters for filter bottons of Portfolio page */
.mob-nav {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 48px 40px;
  background-color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: opaciti var(--animation-time), visibility var(--animation-time), -webkit-transform var(--animation-time);
  transition: opaciti var(--animation-time), visibility var(--animation-time), -webkit-transform var(--animation-time);
  transition: opaciti var(--animation-time), visibility var(--animation-time), transform var(--animation-time);
  transition: opaciti var(--animation-time), visibility var(--animation-time), transform var(--animation-time), -webkit-transform var(--animation-time);
}
@media screen and (min-width: 768px) {
  .mob-nav {
    display: none;
  }
}
.mob-nav.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.mob-nav__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
@media screen and (min-width: 480px) {
  .mob-nav__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .mob-nav__container {
    max-width: 768px;
  }
}
.mob-nav__menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -46px;
  right: -25px;
  width: 40px;
  height: 60px;
  background-color: transparent;
  border-color: transparent;
}
@media screen and (min-width: 768px) {
  .mob-nav__menu-btn {
    display: none;
  }
}
.mob-nav__menu-btn:hover, .mob-nav__menu-btn:focus {
  color: var(--blue-color);
}
.mob-nav__menu-btn--active {
  fill: currentColor;
}
.mob-nav__item {
  margin-bottom: 32px;
}
.mob-nav__item:last-child {
  margin-bottom: 0px;
}
.mob-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--gray-black-text);
}
.mob-nav__link:hover, .mob-nav__link:focus {
  color: var(--blue-color);
}
.mob-nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
}
.mob-nav__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mob-nav__soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--blue-color);
  padding-left: 10px;
  padding-right: 10px;
}
.mob-nav__soc-item > .mob-nav__soc-link {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-nav__soc-item:last-child > .mob-nav__soc-link {
  border-right: 1px solid rgba(33, 33, 33, 0);
}
.mob-nav .mob-nav-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.mob-nav .mob-nav-con__link--big {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--blue-color);
}
.mob-nav .mob-nav-con__link--small {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
}

/* Navigation panel */
.header {
  border-bottom: 1px solid var(--gray-border-line);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) {
  .header__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    max-width: 1200px;
  }
}
.header__nav-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .header__nav-panel {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav-panel {
    gap: 93px;
  }
}
.header__menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40px;
  background-color: transparent;
  border-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__menu-btn {
    display: none;
  }
}
.header__menu-btn:hover, .header__menu-btn:focus {
  fill: var(--blue-color);
}
.header__menu-btn--standby {
  color: currentColor;
}

/* Header - navigator */
@media (max-width: 767.98px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    color: var(--gray-black-text);
  }
}
.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--animation-time);
  transition: color var(--animation-time);
}
.site-nav__link--current, .site-nav__link:hover, .site-nav__link:focus {
  color: var(--blue-color);
}
.site-nav__link--current {
  position: relative;
}
.site-nav__link--current::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -1px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: currentColor;
}

/* Header - contacts */
@media (max-width: 767.98px) {
  .header-contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.header-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--animation-time);
  transition: color var(--animation-time);
}
@media screen and (min-width: 768px) {
  .header-contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact__link {
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header-contact__link:hover, .header-contact__link:focus {
  color: var(--blue-color);
}
.header-contact__icon {
  fill: currentColor;
}

/* Footer part (divade) */ /* Hero section */
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg/hero-bg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg/hero-bg.jpg);
  background-color: #C4C4C4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  max-width: 360px;
  font-size: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--full-white-text);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
  }
}

/* Benefit section */ /* Team section */ /* Clients-list section *//*# sourceMappingURL=main.css.map */