/* Benefit section */

.benefit{
    @extend %section-padding;

    @include mq(desk) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &__container{
        @extend %container;

        @include mq(mob) {
            max-width: 480px;
        }

        @include mq(tab) {
            max-width: 768px;
        }
        
        @include mq(desk) {
            max-width: 1200px;
        }
    }

    &__list{
        @extend %reset-list;
    }

    &__list .card-item {
        @include mq(mob) {
            --card-numbers: 1;
        }

        @include mq(tab) {
            --card-numbers: 2;
        }
        
        @include mq(desk) {
            --card-numbers: 4;
        } 

    }

    &__img-space {
        display: flex;
        height: 120px;
        border-radius: var(--radius);
        align-items: center;
        justify-content: center;

        background-color: var(--gray-background);

        margin-bottom: 30px;
    }

    &__icon {
        width: 70px;
        height: 70px;
    }

    &__title {
        margin-bottom: 10px;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--gray-black-text);

        @include mq(only_mob) {
            text-align: center;
        }
    }
}


