.footer-conection {
    &__text {
    text-align: center;

    @include mq(desk) {
        text-align: left;
    }

    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;

    color: var(--full-white-text);
    margin-bottom: 20px;
    }
}