/* Header - contacts */
.header-contact {
    @extend %reset-list;

    @include mq(only_mob) {
        display: none;
    }

    @include mq(tab) {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-self: center;
    }

    @include mq(desk) {
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-self: center;        
    }   

    &__link {
        display: flex;
        align-items: center;
        @extend %reset-link;
        transition: color var(--animation-time);

        @include mq(tab) {
            display: flex;
            gap: 8px;
        }      

        @include mq(desk) {
            gap: 10px;
            padding-top: 32px;
            padding-bottom: 32px;
        }   
    }

    &__link:hover,
    &__link:focus {
        color: var(--blue-color);
    }

    &__icon {
        fill: currentColor;
    }
}