.section-title {
    
    font-size: 24px;
            
    @include mq(desk) {
        font-size: 36px;
    }


    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    color: var(--gray-black-text);

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;       

}